name: HTML CI/CD Pipeline

on:
  push:
    branches:
      - development
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
          id-token: write
          contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        run: echo "Building HTML... (No build needed for static HTML)"

        
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test HTML
        run: echo "Testing HTML file structure..."
        
  deploy-development:
    needs: test
    runs-on: ubuntu-latest

    permissions:
          id-token: write
          contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Development
        run: echo "Deploying HTML file to the development environment..."

  deploy-staging:
    needs: deploy-development
    runs-on: ubuntu-latest
    ##if: github.ref == 'refs/heads/development'

    permissions:
          id-token: write
          contents: write
          issues: write
    steps:

      - name: Manual Approval
        uses: trstringer/manual-approval@v1
        with:
           secret: ${{ github.TOKEN }}
           approvers: "zeesch-droid" # Replace with GitHub usernames, with the free version you can only have an issue assigned to one username
           minimum-approvals: 1
           issue-title: "Manual Approval Required for Terraform Apply"
           issue-body: "Please approve or deny the deployment."
      
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Staging
        run: echo "Deploying HTML file to the staging environment..."

        
  deploy-production:
    needs: deploy-staging
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Production
        run: echo "Deploying HTML file to the production environment..."
